<div class="col-md-7 col-lg-8 col-xl-9">
    <div class="row">
        <div class="col-md-12">
            <h4 class="mb-4">Products List</h4>
            <div class="appointment-tab">
                <!-- /Appointment Tab -->

                <div class="tab-content">

                    <!-- Upcoming Appointment Tab -->
                    <div class="tab-pane show active" id="upcoming-appointments">
                        <div class="card card-table mb-0">
                            <div class="card-body">
                                <div class="table-responsive">
                                    <table class="table table-hover table-center mb-0">
                                        <thead>
                                            <tr>
                                                <th>Product Code</th>
                                                <th>Product Name</th>
                                                <th>Type</th>
                                                <th class="text-center">Quantity</th>
                                                <th class="text-center">Product Price</th>
                                                <th class="text-center">Action</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>#d1254</td>
                                                <td>
                                                    <h2 class="table-avatar">
                                                        <a class="avatar avatar-sm mr-2"><img class="avatar-img rounded-circle" src="~/Store/images/160415121059-contact-lens-prices-640x360.jpg" alt="User Image"></a>
                                                        <a>Glass</a>
                                                    </h2>
                                                </td>
                                                <td>Eye Care</td>
                                                <td class="text-center">5</td>
                                                <td class="text-center">150 $</td>
                                                <td class="text-center">
                                                    <div class="table-action">
                                                        <a href="javascript:void(0);" class="btn btn-sm bg-primary-light" data-toggle="modal" data-target="#exampleModal1">
                                                            <i class="fas fa-pen"></i> Edite
                                                        </a>
                                                        <a href="javascript:void(0);" class="btn btn-sm bg-danger-light">
                                                            <i class="fas fa-times"></i> Delete
                                                        </a>
                                                    </div>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- /Upcoming Appointment Tab -->

                </div>
            </div>
        </div>
    </div>
</div>
